*{
	margin: 0;
	padding: 0;
	outline: none;
	border-style: none;
}

body{
	font-family: 'Lato', sans-serif;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,.5);
  cursor: pointer;
  border-radius: ;
}

#myBtn:hover{
	color: #000
}

#header{
	width: 100%;
	height: 100vh;
	background: url(../img/header.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;

}

.con{
	width: 940px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	
}

.con .nav{
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	font-size: 20px;
}

.nav .logo{
	height: 50px;
	position: absolute;
	top: 15px
}

.nav ul{
	position: absolute;
	right: 0;
	top: 0
}

.nav ul li{
	list-style: none;
	float: left;
	line-height: 30px;
	padding: 20px 20px 5px 20px;
	border-radius: 0 0 10px 10px
}

.nav ul a{
	color: #fff
}

.nav ul li:hover{
	background: #fff;
	color: #000
}

.greeting{
	height: 400px;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	
}

.greeting h1{
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	right: 380px;
	top: 50px;
	transform: translate(-80px,0);
	text-align: right;
	letter-spacing: 5px

}

.greeting .vl{
	color: #fff;
	height: 300px;
	border-left: 1px solid;
	position: absolute;
	left: 485px;
	top: 55px;

}

.greeting .p1{
	position: absolute;
	left: 500px;
	color: #fff;
	bottom: 50px;
}

.greeting p{
	text-align: left;
}

.greeting button{
	color: #fff;
	border: 1px;
	border-style: solid;
	border-radius: 30px;
	background: rgba(0,0,0,.5);
	padding: 15px 20px 15px 20px;
	margin-top: 20px
}

.greeting button:hover{
	color: #000;
	background: #EAE0D5;
}

#bg1{
	width: 100%;
	height: 980px;
	background: #EFEFEF;
	padding-top: 70px
}


.aboutme{
	width: 100%;
	height: 380px;
}

.con h2{
	line-height: 50px;
	text-transform: uppercase;
	font-size: 32px;
}

.about{
	width: 100%;
	height: 300px;
	margin: 30px auto;
}

.about .info{
	width: 620px;
	height: 300px;
	position: absolute;
	left: 0;
	top: 80px;
	font-size: 24px;
	text-align: left;
	padding-left: 20px;
}


.about img{
	height: 300px;
}

.about .ava{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 80px;
	right: 0;
	overflow: hidden;
	border-radius: 10px
}


.exp{
	width: 100%;
	height: 70px;
	margin: 70px auto;
	font-size: 24px;
	line-height: 30px;
}

.exp p{
	padding-left: 20px
}

.skills{
	height: 280px;
	width: 100%;
	margin: 70px auto;
}

.skills .c4{
	height: 200px;
	width: 100%;
	margin: 30px auto;

}

.skills .cot{
	width: 220px;
	height: 200px;
	float: left;
	margin-left: 20px
}

.skills .cot1{
	width: 220px;
	height: 200px;
	float: left;
}

.skills .skillicon{
	height: 150px;
	text-align: center;
}


.skills .per{
	width: 220px;
	height: 15px;
	background: #ddd;
	margin-top: 20px;
	border-radius: 20px;
	overflow: hidden;
}

.skills .solid1{
	height: 15px;
	width: 143px;
	background: #C6BCBD;
}

.skills .solid2{
	height: 15px;
	width: 165px;
	background: #C6BCBD;
}

.skills .solid3{
	height: 15px;
	width: 143px;
	background: #C6BCBD;
}

.skills .solid4{
	height: 15px;
	width: 132px;
	background: #C6BCBD;
}

#bg2{
	width: 100%;
	height: 940px;
	background: #C6BCBD
}

.portfolio{
	width: 100%;
	height: 760px;
	padding-top: 70px
}

.portfolio .tab-panels{
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

.portfolio ul{
	margin:0;
	padding: 0
}


.portfolio ul li{
	text-transform: uppercase;
	list-style: none;
	float: left;
	color: #fff;
	line-height: 40px;
	width: 188px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	background: #000
}

.portfolio ul li:hover{
	color: #000;
	background: #fff;
	border: none;
}

.portfolio ul li.active{
	color: #000;
	background: #ddd;
	border: none;
}

.tab-panels .panel.active {
    display:block;
}

.portfolio .panel{
	width: 100%;
	height: 620px;
	display: none;
}

.panel .anh{
	width: 300px;
	height: 300px;
	background: #bbb;
	float: left;
	margin-top: 20px;
	overflow: hidden;
	cursor: pointer;

}

.anh img{
	height: 300px;
	margin: auto;
}

.panel .anh:hover{
	outline: 5px #ddd solid;
}



.panel .ma{
	margin: 20px 20px 0 20px;
}

#bg3{
	width: 100%;
	height: 810px;
	background: #eee
}

#bg3 .contact{
	width: 100%;
	height: 230px;
	padding-top: 70px
}

.contact .box{
	height: 60px;
	width: 400px;
	margin-top: 30px;
	margin-left: 80px;

	
}

.box .icon{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	border: solid 2px;
	background: #eee
}

.box .icon:hover{
	background: #fff
}

.box p{
	height: 60px;
	width: 300px;
	line-height: 60px;
	font-size: 30px;
	float: right;
}

#bg3 .msg{
	width: 100%;
	height: 350px;
	margin: 70px auto;
}

.msg .input1{
	width: 370px;
	height: 40px;
	margin-top: 30px;
	padding-left: 10px;
	border-radius: 10px;
	background: #fff
}

.msg .input2{
	width: 530px;
	height: 40px;
	position: absolute;
	right: 0;
	margin-top: 30px;
	padding-left: 10px;
	border-radius: 10px;
	background: #fff;
}


.msg textarea{
	height: 130px;
	width: 920px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	display: block;
	background: #fff
}


.msg .but1{
	width: 780px;
	height: 40px;
	margin-top: 20px;
	background: #000;
	color: #fff;
	border-radius: 10px;
	font-weight: bold;
}

.msg .but1:hover{
	background: #fff;
	color: #000;
	border: 1px solid #000
}

.msg .but2{
	width: 140px;
	height: 40px;
	margin-top: 20px;
	background: #000;
	color: #fff;
	border-radius: 10px;
	position: absolute;
	right: 0;
	font-weight: bold;
}

.msg .but2:hover{
	background: #fff;
	color: #000;
	border: 1px solid #000
}

#footer{
	width: 100%;
	height: 390px;
	background: url(../img/footer.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}

#footer .ic{
		line-height: 370px;
}

.ic i{
	color: rgba(255,255,255,.3);
}

.ic .ctr{
	margin: 0 350px 0 350px
}

#footer i:hover{
	color: #fff
}

#footer .ic{
	height: 370px;
	width: 100%;
	text-align: center;
}

#footer p{
	height: 20px;
	width: 100%;
	color: #333;
}